<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abm-FrutiSec</title>
</head>
<body>
    <form action="nuevo" method="post"> <!--Poner en columna, no diseñar tanto, solo para que suban articulos-->
        <label>Name</label>
        <input type="text" title="Name" name="name">
        <label>Description</label>
        <input type="text" title="Description" name="description">
        <label>Price</label>
        <input type="number" title="Price" name="price">
        <label>Categoría</label>
        <input type="text" title="Categoría" name="categoria">
        <input type="submit" title="Sumbit" value="Submit">
        <!--<label>Img</label>
        <input type="file" enctype="multipart/form-data" name="file">
        <ul>
            <label>Semillas</label>
            <input type="checkbox" title="Semillas">
            <label>Especias</label>
            <input type="checkbox" title="Especias">
            <label>Frutas</label>
            <input type="checkbox" title="Frutas">
            <label>Verduras</label>
            <input type="checkbox" title="Verduras">
        </ul>-->
    </form>
</body>
</html>