<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FrutSec</title>
  <!-- CSS -->
  <link rel="stylesheet" href="../staticFiles/css/about.css">
  <link rel="stylesheet" href="../staticFiles/css/header.css">
  <link rel="stylesheet" href="../staticFiles/css/normalize.css">
  <link rel="stylesheet" href="../staticFiles/css/products.css">
  <link rel="stylesheet" href="../staticFiles/css/footer.css">

  <!-- FUENTE -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="container">
    <!-- NAVBAR -->
    <nav>
      <ul>
        <li><span class="logo">FrutSec</span></li>
      </ul>
      <ul>
        <li><a href="{{url_for('productos')}}">Productos</a></li>

        <li><a href="#sobrenosotros">Nosotros</a></li>

        <li><a href="#contactanos">Contactanos</a></li>

      </ul>
    </nav>
    <!-- HEADER -->

    <div class="header-container">
      <div class="text-span-container">
        <span class="text-header">Una gran variedad
          <br>de las frutas y vegetales mas frescas
        </span>
      </div>
      <!-- IMAGEN DEL TEXTO -->
      <div class="bg-header"></div>
    </div>

    <!-- PRODUCTOS -->
    <div class="cards-container">
      <h3 class="cards-container-title">PRODUCTOS</h3>
      <a href="{{url_for('productos_todos')}}" class="div card" id="cards">
        <img src="../staticFiles/img/cards-index/tienda.png" alt="Imagen 1">
        <h3>Todos</h3>
      </a>
      <div class="row">
        <a href="{{url_for('productos_semillas')}}" class="card" id="cards">

          <img src="../staticFiles/img/cards-index/brote.png" alt="Imagen 1">
          <h3>Semillas</h3>

        </a>
        <a href="{{url_for('productos_especias')}}" class="card" id="cards">

          <img src="../staticFiles/img/cards-index/condimento.png" alt="Imagen 2">
          <h3>Especias</h3>

        </a>
        <a href="{{url_for('productos_frutas')}}" class="card" id="cards">

          <img src="../staticFiles/img/cards-index/fruta.png" alt="Imagen 3">
          <h3>Frutas</h3>

        </a>
        <a href="{{url_for('productos_verduras')}}" class="card" id="cards">

          <img src="../staticFiles/img/cards-index/verduras.png" alt="Imagen 4">
          <h3>Verduras</h3>

        </a>
      </div>
    </div>
    <!-- ABOUT -->
    <div class="about-container">
      <h3>SOBRE NOSOTROS</h3>
      <div class="about-container-chil">
        <p>Hola veci! somos <span>FrutiSec</span> y lo esperamos en nuestros locales de Bogotá y Medillín con ganas de
          atenderlo!<br><br>
          Tenemos todo tipos de variedades de frutas, verduras, furtos secos, semillas y especias. A la orden!</p>
        <div class="direcciones">
          <div class="dir1">
            <h1>maps local Bogotá</h1>
          </div>
          <div class="dir1">
            <h1>maps local Medellín</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <div class="footer-container">
        <div class="footer-container-left">
          <h3>FrutSec</h3>
        </div>
        <div class="footer-container-center">
          <h3>CONTACTANOS</h3>
          <span class="info-footer"><img class="maps-icon" src="https://img.icons8.com/fluency/48/null/phone.png" />
            <p>301 1232323</p>
          </span>
          <span class="info-footer"><img class="maps-icon"
              src="https://img.icons8.com/fluency/48/null/instagram-new.png" />
            <p>@FrutiSec</p>
          </span>

          <span class="info-footer"><img class="maps-icon"
              src="https://img.icons8.com/color/144/null/google-maps-new.png" />
            <p>Bogota 112</p>
          </span>

        </div>
        <div class="footer-container-right">
          <h3>HORARIOS</h3>
          <p>LUN - VIE de 7hs a 19hs</p>
          <p>SAB de 9hs a 17hs</p>
        </div>
      </div>
    </footer>

  </div>


  <!-- importar script -->
  <script src="../staticFiles/index.js"></script>
</body>

</html>