.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 50, 50);
    color: white;
    gap: 5em;
}

.footer-container-left h3{
    font-weight: lighter;
    font-size: 40px;
}

.footer-container-center h3{
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(68, 164, 68);
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.434);
    background-color: rgb(68, 164, 68);
    box-shadow: 5px 5px 5px 0 rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out;
}

.footer-container-right h3{
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(68, 164, 68);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.434);
    background-color: rgb(68, 164, 68);
    box-shadow: 5px 5px 5px 0 rgba(255, 255, 255, 0.1);
}
.footer-container-center{
    padding-top: 30px;
}
.footer-container-right{
    margin-top: -51px;
}
.info-footer{
    display: flex;
    flex-direction: row;
}


.maps-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 10px;
}

@media only screen and (max-width: 375px){
    .footer-container{
        display: none;
    }
    .footer-container-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(52, 50, 50);
        color: white;
        gap: 1em;
        padding: 15px;
    }
    .footer-container-left-mobile h3{
        font-weight: lighter;
        font-size: 25px;

    }
    .footer-container-center-mobile{
        padding-top: 10px;
    }
    .footer-container-center-mobile h3{
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    .footer-container-right-mobile{
        margin-top: -14px;
    }
    .footer-container-right-mobile h3{
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    .footer-container-mobile p{
        font-size: 13px;
        font-weight: 500;
        width: 100%;
        color: white;
    }
    .info-footer-mobile{
        display: flex;
        flex-direction: row;
    }
    .maps-icon-mobile{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 426px) {

    .footer-container{
        display: none;
    }
    .footer-container-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(52, 50, 50);
        color: white;
        gap: 1em;
        padding: 15px;
    }
    .footer-container-left-mobile h3{
        font-weight: lighter;
        font-size: 25px;

    }
    .footer-container-center-mobile{
        padding-top: 10px;
    }
    .footer-container-center-mobile h3{
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    .footer-container-right-mobile{
        margin-top: -14px;
    }
    .footer-container-right-mobile h3{
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    .footer-container-mobile p{
        font-size: 13px;
        font-weight: 500;
        width: 100%;
        color: white;
    }
    .info-footer-mobile{
        display: flex;
        flex-direction: row;
    }
    .maps-icon-mobile{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: 10px;
    }
}

}