*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #0c0c0c;
}

.navbar {
    background-color: #000000;
    color: white;
    padding: 10px;
    border-bottom: 2px solid #dddddd34;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-decoration: underline #CDA434 1px
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input[type="text"] {
    background-color: #5d5858;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
  }
  .search input[type="text"]:focus {
    outline: none;
  }
  
  .search button[type="submit"] {
    background-color: rgb(68, 164, 68);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sidebar {
    flex: 1;
    padding: 10px;
    background-color: #2b2929;
    color: #ddd;
  }
  .sidebar h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    
  }

  .filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
  }
  
  .filters h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .filters .filter {
    margin-bottom: 5px;
  }
  
  .filters .filter label {
    margin-left: 5px;
  }
  
  .products {
    flex: 3;
    
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 20px;
  }
  
  .card {
    width: 90%;
    border: 1px solid #dddddd4f;
    background-color: #433f3f;
    border-radius: 5px;
    box-shadow: 3px 2px 6px #dddddd6d;
    padding: 10px;
    margin: 10px;
    color: #ddd;
    transition: all 0.2s ease-in-out;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 5px 0 #CDA434;
    transform: translateY(-5px);
}
  .card img {
    width: 40%;
    margin-left: 25%;
    margin-bottom: 10px;
  }
  .card h3 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 5px;
  }
  .card .precio {
    font-weight: bold;
    font-size: 1.2em;
    color: #0077be;
    margin-bottom: 10px;
  }